body
{
	background-color: lightgray;
	font-family:'Open Sans',sans-serif;
}
.content
{
	width:960px;
	margin: 0 auto;
}

#header
{
	width:100%;
	background-color:white;
}

img.headerImg
{
	width:90px;
	height:70px;
	padding-left: 50px;
	padding-top:  50px;

}

p.AdvisorText
{
	font-size:50px;
	font-weight: bold;
	color:gray;
	position:relative;
	top:-60px;
	left:120px;
	padding-bottom:0px;
	padding-left: 0px;
	margin:0 auto;
}


#LinksHeader
{
	position:relative;
	top:-95px;
	padding-left: 500px;
	width:5%;
	display:inline;
	word-spacing: 60px;
	font-weight: bold;
	font-size:20px;
}



a.headerLinks:link
{
	
	text-decoration: none;
}

a.headerLinks:visited
{
	color:#00BFFF;
}


#leftImg
{
	width:70%;
	margin:0 auto;
	padding-top: 50px;
	padding-bottom:50px;
	float:left;
}



img.banner
{
	height:415px;
}


#rightButtons
{
	width:30%;
	margin: 0 auto;
	float:right;
	padding-top: 50px;
}


#secondButton
{
	margin-top:5px;
}

#thirdButton
{
	margin-top:5px;
}

#pic
{
	float:right;
	padding-top:20px;
	padding-right:20px;
}


.button
{

	display:block;
	height:40px;
	width:270px;
	border: 2px solid white;
	box-shadow:rgba(0,0,0,0.5) 0px 0px 10px;



	/*Button Title*/
	color:white;
	font-weight:bold;
	padding-top:20px;
	padding-left:15px;
	font-size:25px;
	text-decoration: none;

}


#button1
{
	background:linear-gradient(to top,#f2ad30,white);

}

#button1:hover
{
	background:linear-gradient(to top,black,white);
}


#button2
{
	background:linear-gradient(to top,#64ab26,white);

}

#button2:hover
{
	background:linear-gradient(to top,black,white);
}

#button3
{
	background:linear-gradient(to top,#38a6a6,white);
}

#button3:hover
{
	background:linear-gradient(to top,black,white);
}

#paraBox
{
	display: block;
	height:206px;
	width:285px;
	background:#38a6a6;
	border: 2px solid white;
	margin-top: 5px;
}

p.paraBox
{
	
	padding:30px;
	color:white;
	font-size:18px;
	font-weight: bold;
}

#footer
{
	clear:both;
	width:100%;
	background-color:black;
	padding:90px;
}

	
.containerContent
{ 
	
	position:relative;  
	width:25%; 
	float:left;
	color:white;
}

.containerCall
{
	position:relative;
	width: 25%;
	float:left;
	color: white;
}

.containerContact
{
	position:relative;
	width: 25%;
	float:left;
	color: white;
}

.containerCopyright
{
	position:relative;
	width: 25%;
	float:left;
	color: white;
}

.contents
{
	font-size:12px;
	float:left;
	padding-bottom:20px;
	padding-left:10px;
	font-weight: bold;
	margin-top:0;
}

.img
{
	float:left;
}














