body
{
	background-color: lightgray;
	font-family:"Open Sans",sans-serif;
}
.content
{
	width:960px;
	margin: 0 auto;
}
/*Slider*/
.Imageslider
{
		overflow: hidden;
		width:2020px;
		height:415px;
		margin: 0 auto;
	
}

.navi{
	position:absolute;
	top: 410px;
	height: 50px;
	margin: 0 auto;
	width: 40px;
	opacity: 0;
	cursor:pointer;
	-ms-filter: alpha(opacity=0);
	filter: alpha(opacity=0);
	-webkit-transition: opacity 0.25s linear;
	-moz-transition: opacity 0.25s linear;
	-ms-transition: opacity 0.25s linear;
	-o-transition: opacity 0.25s linear;
	transition: opacity 0.25s linear;

}

.content:hover .navi 
{
	display:block;
	opacity:1;
	filter:alpha(opacity=100);
}

#prev{
	background:url('resources/left_arrow.png') no-repeat center;
	left: 190px;
}
#next{
	background:url('resources/right_arrow.png') no-repeat center;
	left: 770px;
}

/*.autop
{
	position:absolute;
	top:580px;
	height:50px;
	width:50px;
}*/

#play
{
	background:url('resources/play2.png') no-repeat center;
	left:750px;
	top:580px;
}

#pause
{
	background: url('resources/pause.png') no-repeat center;
	left:750px;
	top:580px;
}


/*end of SLider*/

#header
{
	width:100%;
	background-color:white;
}

img.headerImg
{
	position:relative;
	top:50px;
}



p.AdvisorText
{
	font-size:50px;
	font-weight: bold;
	color:gray;
	position:relative;
	top:0px;
	left:50px;
	margin:0 auto;
}


#LinksHeader
{
	position:relative;
	top:-40px;
	left: 450px;
	width:5%;
	display:inline;
	word-spacing: 60px;
	font-weight: bold;
	font-size:20px;
}



a.headerLinks:link
{
	
	text-decoration: none;
}

a.headerLinks:visited
{
	color:#00BFFF;
}

#leftImg
{
	width: 70%;
	margin: 0 auto;
	padding-top: 50px;
	padding-bottom: 50px;
	display: inline-block;
	overflow:hidden;

}



img.banner
{
	height:415px;
	width:670px;
	display:inline;
}



#rightButtons
{
	width: 29%;
	margin: 0 auto;
	padding-top: 50px;
	display: inline-block;
	vertical-align: top;
}


#secondButton
{
	margin-top:5px;
}

#thirdButton
{
	margin-top:5px;
}

#pic
{
	float:right;
	padding-top:10px;
	padding-right:20px;
}


.button
{

	display:block;
	border: 2px solid white;



	/*Button Title*/
	color:white;
	padding-top:10px;
	padding-left:30px;
	padding-bottom:13px;
	font-size:20px;
	font-weight: bold;
	text-decoration: none;

}


#button1
{
	background:linear-gradient(to top,#f2ad30,white);

}

#button1:hover
{
	background:linear-gradient(to top,black,white);
}


#button2
{
	background:linear-gradient(to top,#64ab26,white);

}

#button2:hover
{
	background:linear-gradient(to top,black,white);
}

#button3
{
	background:linear-gradient(to top,#38a6a6,white);
}

#button3:hover
{
	background:linear-gradient(to top,black,white);
}

#paraBox
{
	height:235px;
	background:#38a6a6;
	border: 2px solid white;
	margin-top: 5px;
}

p.paraBox
{
	
	padding:30px;
	color:white;
	font-size:17px;
	font-weight:bold;
}

#footer
{
	width:100%;
	background-color:black;
	padding:45px 0;
}

	
.containerContent
{ 
	
	position:relative;  
	width:25%; 
	float:left;
	color:white;
}


.contents
{
	display:inline-block;
	vertical-align: middle;
	margin-bottom: 0;
	font-size:12px;
	padding-left:10px;
	font-weight: bold;
	margin-top:0;
}

.imgFooter
{
	display:inline-block;
	vertical-align: middle;
}

.clearfix
{
	clear:both;
}

.shadows
{
	box-shadow:rgba(0,0,0,0.5) 0px 2px 4px; 
}















